
OPENAI_API_KEY=sk-proj-XXXX

GOOGLE_APPLICATION_CREDENTIALS=./XXXX-coil-448812-n7-bf5d29d61f99.json
GOOGLE_PROJECT_ID=XXXX-coil-448812-n7
GOOGLE_PRIVATE_KEY_ID=bf5d29d61fXXXXXXXXXXXXX
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXXXXXXXXXXX\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=XXXXX-448812-n7@appspot.gserviceaccount.com
GOOGLE_CLIENT_ID=11812294XXXXXXXXXXX
GOOGLE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/XXXXXXX-448812-n7%40appspot.gserviceaccount.com

AWS_BUCKET_NAME=XXXX
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=XXXX
AWS_SECRET_ACCESS_KEY=XXXX
